#lift-list{
    padding: 0;
    list-style-type: none;
}
#lift-list li {
    list-style:none;
}

#lift-list button{

}

.content{
    margin-bottom: 20px;
    margin-left: 10px;
}
.workout {
    margin: 5px;
    padding: 10px;
    border:dotted;
}
