#lift-list{
    padding: 0;
    list-style-type: none;
}
#lift-list li {
    list-style:none;
}

#lift-list form{
    max-width: 400px;
}
#lift-list form input{
    text-align: center;
}
#lift-list form div{
    font-size: larger;
}
.add{ margin-left: 5px;}
.remove{ margin-right: 5px;}
.content{
    margin-bottom: 20px;
    margin-left: 10px;
}
.workout {
    margin: 5px;
    padding: 10px;
    border:dotted;
}
